@import '../fonts/cereal/_cereal';
@import '../variables/_typography';
@import '../variables/_colors';

* {
  font-family: $font-default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-display;
}

p {
  font-size: 1rem;
  line-height: calc( 1.618 * 1rem );
}
