/* UC Davis Visual Identity Colors */
$ucd-blue50: #E5E9EF;
$ucd-blue100: #CCD4E0;
$ucd-blue200: #B2BDCF;
$ucd-blue300: #99A9BF;
$ucd-blue400: #7F93AE;
$ucd-blue500: #667D9D;
$ucd-blue600: #4D688C;
$ucd-blue700: #335379;
$ucd-blue800: #1A3E68;
$ucd-blue900: #002855;

$ucd-gold50: #FBF6E5;
$ucd-gold100: #F8EECC;
$ucd-gold200: #F4E5B2;
$ucd-gold300: #F0DD99;
$ucd-gold400: #ECD47F;
$ucd-gold500: #E9CC66;
$ucd-gold600: #E5C44D;
$ucd-gold700: #E1BB33;
$ucd-gold800: #DEB31A;
$ucd-gold900: #DAAA00;

/* lib-ui Theme */
$primary: $ucd-blue900;
$secondary: $ucd-gold900;
