/* UC Davis Visual Identity Colors */
/* Material Design colors */
/* lib-ui Theme */
.Atom-Button {
  position: relative;
  padding: .7rem 1.2rem;
  border: none;
  background-color: #002855;
  overflow: hidden;
  color: #fff;
  font-size: .95rem;
  letter-spacing: 1px;
  transition: all .2s;
  /**
   * 'type' prop
   */
  /**
   * 'size' prop
   */
  /**
   * Animation
   */ }
  .Atom-Button .children-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .Atom-Button .children-wrapper .children {
      display: flex;
      align-items: center;
      justify-content: center; }
  .Atom-Button:hover {
    background-color: #335379;
    cursor: pointer; }
    .Atom-Button:hover .arrow {
      transform: translateX(2px); }
  .Atom-Button.primary {
    background-color: #002855;
    color: #fff; }
    .Atom-Button.primary:hover {
      background-color: #335379; }
  .Atom-Button.secondary {
    background-color: #DAAA00;
    color: #fff; }
    .Atom-Button.secondary:hover {
      background-color: #E1BB33; }
  .Atom-Button.arrow .arrow {
    display: block;
    margin-left: .5rem;
    color: #DAAA00;
    transition: all .2s; }
  .Atom-Button.ghost {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.7); }
    .Atom-Button.ghost:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .Atom-Button.sm {
    padding: .5rem 1rem;
    font-size: .8rem; }
  .Atom-Button .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 200ms linear; }
  .Atom-Button .content {
    opacity: 1;
    transition: all 200ms linear; }
    .Atom-Button .content .children, .Atom-Button .content .arrow {
      transition: all 200ms ease-in; }
  .Atom-Button.loading .loader {
    opacity: 1; }
  .Atom-Button.loading .content {
    opacity: 0; }
    .Atom-Button.loading .content .children, .Atom-Button.loading .content .arrow {
      transform: translateX(2rem); }
