@import '../../theme/variables/_colors.scss';

.Atom-Button {
  position: relative;
  padding: .7rem 1.2rem;
  border: none;
  background-color: $primary;
  overflow: hidden;

  color: #fff;
  font-size: .95rem;
  letter-spacing: 1px;

  transition: all .2s linear;

  .children-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    .children {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &:hover {
    background-color: $ucd-blue700;

    cursor: pointer;

    .arrow {
      transform: translateX( 2px );
    }
  }
  &:disabled {
    filter: contrast( .25 ) brightness( 1.5 );
    &:hover {
      cursor: not-allowed;
    }
  }

  /**
   * 'type' prop
   */
  &.primary {
    background-color: $primary;

    color: #fff;

    &:hover {
      background-color: $ucd-blue700;
    }
  }
  &.secondary {
    background-color: $secondary;

    color: #fff;

    &:hover {
      background-color: $ucd-gold700;
    }
  }
  &.arrow {
    .arrow {
      display: block;
      margin-left: .5rem;

      color: $secondary;

      transition: all .2s;
    }
  }
  &.ghost {
    background-color: rgba(0, 0, 0, 0);

    color: rgba(0, 0, 0, .7);

    &:hover {
      background-color: rgba(0, 0, 0, .1);
    }
  }

  /**
   * 'size' prop
   */
  &.sm {
    padding: .5rem 1rem;
    font-size: .8rem;
  }

  /**
   * Animation
   */
  .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 200ms linear;
  }
  .content {
    opacity: 1;
    transition: all 200ms linear;

    .children, .arrow {
      transition: all 200ms ease-in;
    }
  }
  &.loading {
    .loader {
      opacity: 1;
    }
    .content {
      opacity: 0;

      .children, .arrow {
        transform: translateX( 2rem );
      }
    }
  }
}
