/* UC Davis Visual Identity Colors */
/* lib-ui Theme */
.libui-Button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .7rem 1.2rem;
  border: none;
  background-color: #002855;
  font-size: .95rem;
  letter-spacing: 1px;
  color: #fff;
  transition: all .2s; }
  .libui-Button:hover {
    background-color: #335379;
    cursor: pointer; }
    .libui-Button:hover .arrow {
      transform: translateX(2px); }
  .libui-Button .arrow {
    display: block;
    margin-left: .5rem;
    color: #DAAA00;
    transition: all .2s; }
