@import '../../theme/colors.scss';

.libui-Button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 1.5rem;
  border: none;
  background-color: $primary;

  font-size: 1rem;
  color: #fff;

  transition: all .2s;

  &:hover {
    background-color: $ucd-blue700;

    cursor: pointer;

    .arrow {
      transform: translateX(2px);
    }
  }

  .arrow {
    display: block;
    margin-left: .5rem;

    color: $secondary;

    transition: all .2s;
  }
}
