@import '../../theme/variables/_typography.scss';
@import '../../theme/variables/_colors.scss';

.Dialog {

  .dialogContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 900;

    .backdrop {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, .7);
      z-index: 910;
    }

    .dialog {
      position: relative;
      max-height: calc( 100vh - 32px );
      max-width: calc( 100% - 32px );
      width: 320px;

      background-color: #fff;

      z-index: 920;

      .title {
        padding: 1rem;

        font-size: 1.2rem;
      }

      .content {
        box-sizing: border-box;
        padding: 0 1rem 1rem;
        overflow-y: auto;
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        padding: 1rem;
        background-color: rgba(0, 0, 0, .05);

        button {
          margin-left: .4rem;
        }
      }
    }
  }

  .backdrop-enter {
    opacity: 0.01;
  }
  .backdrop-enter-active {
    opacity: 1;
    transition: opacity 200ms linear;
  }
  .backdrop-exit {
    opacity: 1;
  }
  .backdrop-exit-active {
    opacity: 0.01;
    transition: opacity 200ms linear;
  }

  .dialog-enter {
    opacity: 0.01;
    transform: translateY(10%);
  }
  .dialog-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 200ms linear;
  }
  .dialog-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .dialog-exit-active {
    opacity: 0.01;
    transform: translateY(-10%);
    transition: all 200ms linear;
  }
}
